{% extends 'base.html' %}
{% block title %} Importer {% endblock %}
{% block content %}
    <h1>Produced Total of Sales in foreign currency</h1>
    <form method="post">
        {% csrf_token %}
        <select class="form-select" style="margin-bottom:20px" name="currency" id="currency">
            <option value="usd">Dolar</option>
            <option value="eur">Euros</option>
            <option value="mxn">Mexican pesos</option>
        </select>
        <button type="submit" class="btn btn-primary">Convert</button>
    </form>
     <h2 style="margin-top:20px">{{ phrase }}</h2>
{% endblock %}