{% extends 'base.html' %}
{% block title %} Consuming API {% endblock %}
{% block content %}
    <h1 style="color:red">{{ message }}</h1>
    <a href="{% url 'listsales' %}">Back to the Sale list</a>
{% endblock %}