{% extends 'base.html' %}
{% block title %} Detail sale {% endblock %}
{% block content %}
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">{{ data.item_type.upper }}</h5>
            <p class="card-text"><b>Region:</b> {{ data.region.upper}}</p>
            <p><b>Country :</b> {{ data.country.upper }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Unit Price: </b>{{ data.unit_price }}</li>
            <li class="list-group-item"><b>Units Sold: </b>{{ data.units_sold }}</li>
        </ul>
    </div>
{% endblock %}