{% extends 'base.html' %}
{% block title %} Importer {% endblock %}
{% block content %}
        <h1>Importer</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Subir</button>
        </form>
{% endblock %}