{% extends 'base.html' %}
{% block title %} Consuming API {% endblock %}
{% block content %}
    <h1>Sales List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Region</th>
            <th>Country</th>
            <th>Category</th>
            <th>Sold units</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% if entity %}
            {% for element in entity %}
                <tr>
                    <td>{{ element.order_date }}</td>
                    <td>{{ element.region }}</td>
                    <td>{{ element.country }}</td>
                    <td>{{ element.item_type }}</td>
                    <td>{{ element.units_sold }}</td>
                    <td>{{ 51 }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="">Haven't registers</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div>{% include 'paginator.html' %}</div>
{% endblock %}